/**
 * app-style.css
 * created by Joseph Miao
 * 2016-08-28
 **/

/* 在icomoon网站生成的字体库 */
@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.ttf?ndcbj7') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** icon 图标字体 **/
.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-flag:before {
  content: "\f024";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-bus:before {
  content: "\f207";
}
.icon-calendar:before {
  content: "\f068";
}
.icon-triangle-down:before {
  content: "\f05b";
}
.icon-triangle-up:before {
  content: "\f0aa";
}
.icon-home2:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-exclam:before {
  content: "\21";
}
.icon-quotedbl:before {
  content: "\22";
}
.icon-numbersign:before {
  content: "\23";
}
.icon-dollar:before {
  content: "\24";
}
.icon-percent:before {
  content: "\25";
}
.icon-ampersand:before {
  content: "\26";
}
.icon-quotesingle:before {
  content: "\27";
}
.icon-parenleft:before {
  content: "\28";
}
.icon-parenright:before {
  content: "\29";
}
.icon-asterisk:before {
  content: "\2a";
}
.icon-plus:before {
  content: "\2b";
}
.icon-comma:before {
  content: "\2c";
}
.icon-hyphen:before {
  content: "\2d";
}
.icon-period:before {
  content: "\2e";
}
.icon-slash:before {
  content: "\2f";
}
.icon-zero:before {
  content: "\30";
}
.icon-one:before {
  content: "\31";
}
.icon-two:before {
  content: "\32";
}
.icon-three:before {
  content: "\33";
}
.icon-four:before {
  content: "\34";
}
.icon-five:before {
  content: "\35";
}
.icon-six:before {
  content: "\36";
}
.icon-seven:before {
  content: "\37";
}
.icon-eight:before {
  content: "\38";
}
.icon-nine:before {
  content: "\39";
}
.icon-colon:before {
  content: "\3a";
}
.icon-semicolon:before {
  content: "\3b";
}
.icon-less:before {
  content: "\3c";
}
.icon-equal:before {
  content: "\3d";
}
.icon-greater:before {
  content: "\3e";
}
.icon-question:before {
  content: "\3f";
}
.icon-at:before {
  content: "\40";
}
.icon-bracketleft:before {
  content: "\5b";
}
.icon-backslash:before {
  content: "\5c";
}
.icon-bracketright:before {
  content: "\5d";
}
.icon-asciicircum:before {
  content: "\5e";
}
.icon-underscore:before {
  content: "\5f";
}
.icon-grave:before {
  content: "\60";
}
.icon-braceleft:before {
  content: "\7b";
}
.icon-bar:before {
  content: "\7c";
}
.icon-braceright:before {
  content: "\7d";
}
.icon-asciitilde:before {
  content: "\7e";
}
.icon-yen:before {
  content: "\a5";
}
.icon-copyright:before {
  content: "\a9";
}
.icon-registered:before {
  content: "\ae";
}
/* reset */
* {
  background-repeat: no-repeat;
  box-sizing: inherit;
} 
html {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	/*font-family: "HelveticaNeue Regular Bold";*/
  	line-height: 1.5;
  	font-size: 62.5%;  /*  10px */
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
}

ol, ul {
    list-style: none;
}
::selection {
    text-shadow: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
}
h1,h2,h3,h4,h5,h6 { margin: 0;}
h1 { font-size: 3.2rem;}
h2 { font-size: 2.5rem;}
h3 { font-size: 2.2rem;}
h4 { font-size: 1.8rem;}
p { font-size: 1.6rem;}

h1,h2,h3 {
	font-family: 'icomoon', sans-serif;
	line-height: 1.2;
  font-weight: 300;
}
a{
    color: #000;
	text-decoration: none;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;;
    // background-color: #eee
}
textarea:focus {
    outline: none;
}
.hide { display: none;}
/** apph5页通用样式 **/
.app-container {
	padding: 1rem;
}
.app-container img {
	width: 100%;
}
.app-container .headline {
	margin-top: 1rem;
}
.app-container .headline > p {
	margin: 0;
	font-size: 1.4rem;
}
/* tag 样式*/
.app-container .tags { margin: 1rem 0;}
.app-container a.btn-tag {
	width: auto;
	border: 1px solid #9a9a9a;
	color:#9a9a9a;
	border-radius: 0.4rem;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    padding-right: 1.5rem;
    margin-bottom: 0.5rem;
    border-right-width: 0;
	position: relative;
	margin-right: 1.2rem;
}
.app-container a.btn-tag:before {
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    top: .3rem;
    right: -1.1rem;
    background-color: #fff;
    border: 2px solid #9a9a9a;
    border-radius: .4rem;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg) scale(0.8) translate(-1px,0px) skew(14deg,13deg);
    -moz-transform: rotate(45deg) scale(0.8) translate(-1px,0px) skew(14deg,13deg);
    transform: rotate(45deg) scale(0.8) translate(-1px,0px) skew(14deg,13deg);
}

.app-container a.btn-tag:after {
    content: "";
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: 1.2rem;
    right: 0rem;
    border: 1px solid #9a9a9a;
    background-color: #fff;
    border-radius: 50%;
}

.app-container .content {
	border-bottom: 1px dashed #9a9a9a;
}

div.app-footer {
	margin-top: 1rem;
}
.app-footer  h2 {
	display: inline-block;
	border-bottom: 0.4rem solid #fc4103;
}
.app-footer .item {
	margin-top: 1rem;
}
.app-footer .item:not(:last-of-type) {
	margin-top: 1rem;
	border-bottom: 1px dashed #9a9a9a;
}
.app-footer .item > img {
	width: 100%;
	max-height: 12rem;
}
/* 多行文本溢出*/
.app-footer .item > p{
	margin: 0.5rem 0;
	height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.app-footer .item > h3 {
	width: 100%;
	margin: 0.5rem 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.app-container .player video {
	width:100%;
	margin:1rem 0;
}
.video-detail p.text {
	margin:0;
}
.video-detail .content p {
	margin: 0 ;
}
.headline p > a {
    color: #265386;
}

/** 轮播swiper **/
.swipe {
  	overflow: hidden;
	visibility: hidden;
	position: relative;
}	
.swipe-wrap {
  	overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
  	float: left;
  	width: 100%;
  	position: relative;
}
ul.dots {
	position: absolute;
    padding: 0;
    left: 42%;
    bottom: 0%
}
ul.dots > li {
	display: inline-block;
	float: left;
	width: .9rem;
	height: .9rem;
	background-color: rgba(255,255,255,.6);
	border-radius:  50%;
	margin-right: 1.2rem;
}
ul.dots > li.active{
	background-color: #fff
}

/* directory_detail */
.directory_detail .review-star .icon-star {
    color: #2486c3;
    font-size: 1.6rem;
}
.directory_detail .review-star .icon-star-o {
    color: #ccc;
    font-size: 1.6rem;
}
.directory_detail {
    padding: 0;
}
.directory_detail .headline {
    padding: 1rem;
    margin-top: 0;
}
.directory_detail .add-review {
    color: #08d1e2;
    margin-left: 1rem;
}
.directory_detail .review-star {
    margin-top: .4rem;
}
.directory_detail .content , .directory_detail .app-footer {
    padding: 1rem;
}
.info-list .info-table {
    background-color: #fbf5f4;
    border-bottom: 1px solid #e5cec9;
}
.info-list .info-table tr {
    font-size: 1.6rem;
    height: 4rem;
    border-top: 1px solid #e5cec9;
}
.info-list .info-table i {
    font-size: 1.6rem;
    margin-right: 1.4rem;
}
.info-list .info-table tr > td:first-child {
    padding-left: 1.4rem;
    width: 35%;
}
.info-list .info-table tr > td:last-child {
    color: #878585;
}
.info-list .info-table .phone {
    color: #1da1f2;
}
    /* 1st !important */
.info-table .taxi{
    color: #000 !important;
}
.info-table .taxi-printout{
    display: block;
    position: relative;
}
.info-table .taxi-printout:before {
    font-family: 'icomoon';
    content: "\f105";
    position: absolute;
    right: 1rem;
    font-size: 1.8rem;
    color: #ccc;
    line-height: 2.6rem;

}
    /* 2nd */
.info-table .icon-angle-right {
    color: #ccc;
    font-size: 2rem !important;
}
.info-table td > p {
    margin: 0;
    max-height: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.directory_detail .content {
  border-bottom-style: none;
}
.directory_detail div.map {
  padding: 0 1rem;
  min-height: 24rem;
  width: 100%;
  
}
.map > .map-list {
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  min-height: inherit;
  border-top: 1px dashed #9a9a9a;
  border-bottom: 1px dashed #9a9a9a;
}
.map-list > h3 {
  color: rgba(0,0,0,0.6);
}
.map-list > div {
  min-height: inherit;
  width: 100%;
}
.pop-table tr td:first-child{
    text-align: left;
}
.layui-m-layerchild.pop-mjh h3 {
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
}
.pop-mjh .layui-m-layercont{
    padding-top: 2rem;
}
.pop-mjh .pop-table tr{
    line-height: 3.6rem;
}
.pop-mjh .div-area > p { 
    text-align: left;
    font-size: 1.4rem;
}
.pop-mjh .layui-m-layerbtn span[yes] {
    color: #fc4103;
}
.pop-table .icon-star-o{
    font-size: 1.8rem;
    margin-right: .2rem;
    color: #ccc;
}
/* map_detail页 */
.map_detail {
    margin: 0;
    padding: 0;
}
.map_detail .words-content > p {
    margin: 0;
}

.map_detail .words-content {
    max-height: 10rem;
    text-align: center;
    width: 60%;
    margin: 10px auto;
}
/* review_detail */
.review_detail {
  margin: 0;
  padding: 0;
}
.review_detail .comments-head > .gradient-color{
  height: 3rem;
  opacity: .4;
  background-color: rgba(29, 161, 242,.2);  /* 后备机制 */
  background: -webkit-linear-gradient(#1da1f2, #fff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#1da1f2, #fff);  Opera 11.1 - 12.0 
  background: -moz-linear-gradient(#1da1f2, #fff); /* Firefox 3.6 - 15 */
  background: linear-gradient(#1da1f2, #fff); /* 标准的语法 */
}
.review_detail .comments-head > p {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #eee;
    width: 72%;
}
.review_detail .comments-content {
  margin:1rem 0;
  padding: 1rem;
}
.comments-content > div:first-child {
    text-align: right;
    padding-right: 1rem;
}

.comments-item {
    padding: 1rem;
    overflow: auto;
}
.comments-item > .user-image {
  width: 20%;
  float: left;
}
.comments-item > .user-review {
  width: 80%;
  display: inline-block;
  float: left;
  // background-color: #eee;
  background-color: rgba(29, 161, 242,.2);
  border-radius: .4rem;
  padding: 1rem;
  position: relative;
}
.comments-item > .user-review:before {
    content: "";
    border: 1rem solid #1da1f2;
    position: absolute;
    left: -2rem;
    border-color: transparent #1da1f2 transparent transparent;
    opacity: .2;
    border-top-width: .8rem;
    border-bottom-width: .8rem;
}
.user-image > img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}
.user-review > p {
  margin: .4rem 0;
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;

}
.user-review .date {
    color: #9a9a9a;
    font-size: 1.2rem;
}
table.review-star {
    margin-top: 1rem;
}
.review-star .icon-star-o {
    color: #ccc;
}
.review-star .icon-star {
    color: #2486c3;
}
.more-review {
    padding: 1rem 0;
}
.more-review > a{
    text-align: center;
    display: block;
    color: #44A7CB;
    font-weight: 400;
    font-size: 1.6rem;
    border-top: 1px solid #f7f7f7;
}
.more-review > a i {
    font-weight: 500;
    font-size: 1.8rem;
}
